<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmax.demo.mapper.EmpMapper">
  <select id="selectAll" resultType="com.tmax.demo.dto.EmpDto">SELECT *
FROM EMP</select>
  <select id="selectOneByEmpNo" parameterType="int" resultType="com.tmax.demo.dto.EmpDto">SELECT *
FROM EMP
WHERE EMPNO = #{empNo}</select>
  <select id="selectAllAsUser" resultMap="userResult">SELECT *
FROM EMP</select>
  <insert id="insert" parameterType="com.tmax.demo.dto.EmpDto">INSERT INTO EMP
( EMPNO, NAME, AGE, ADDRESS )
VALUES
( #{empNo}, #{name}, #{age}, #{address} )</insert>
  <update id="update" parameterType="com.tmax.demo.dto.EmpDto">UPDATE EMP
SET NAME = #{name}
WHERE EMPNO = #{empNo}</update>
  <delete id="delete" parameterType="int">DELETE FROM EMP
WHERE EMPNO = #{empNo};</delete>
  <resultMap id="userResult" type="com.tmax.demo.dto.UserDto">
    <result property="userId" column="empNo"></result>
    <result property="userName" column="name"></result>
  </resultMap>
</mapper>
